# Archivos de configuración del IDE
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dependencies
/node_modules
/.pnp
.pnp.js

# compiled output
/build
/dist

# testing
/coverage
/.nyc_output
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.tmp

# debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Docker
*.tar
*.img

# Cache de pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json